{% extends 'index.html.twig' %}

{% block title %}Įranga{% endblock %}

{% block body %}
    <h1>Įranga</h1>

    <section class="content">

        <div class="row">
            <div class="col-md-10">
                <div class="box box-primary">
                    <div class="box-body">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>Gamintojas</th>
                                <td>{{ equipment.brandName }}</td>
                            </tr>
                            <tr>
                                <th>Modelis</th>
                                <td>{{ equipment.model }}</td>
                            </tr>
                            <tr>
                                <th>Tipas</th>
                                <td>
                                    {% if equipment.type == constant('App\\Entity\\Equipment::EQUIPMENT_TYPE_LAPTOP') %}
                                        <i class="fa fa-laptop"></i> Nešiojamas kompiuteris
                                    {% elseif equipment.type == constant('App\\Entity\\Equipment::EQUIPMENT_TYPE_PHONE') %}
                                        <i class="fa fa-phone"></i> Telefonas
                                    {% elseif equipment.type == constant('App\\Entity\\Equipment::EQUIPMENT_TYPE_ACCESSORY') %}
                                        <i class="fa fa-keyboard"></i> Aksesuaras
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Metai</th>
                                <td>{{ equipment.year ? equipment.year|date('Y-m-d') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Unikalus kodas</th>
                                <td>{{ equipment.identifier }}</td>
                            </tr>
                            <tr>
                                <th>Kaina</th>
                                <td>{{ equipment.price }}</td>
                            </tr>
                            <tr>
                                <th>Garantija iki</th>
                                <td>{{ equipment.warrantyExpires ? equipment.warrantyExpires|date('Y-m-d') : '' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div class="box box-primary">
                    <div class="box-body">
                        <a class="btn btn-default" href="{{ path('equipment_index') }}">
                            <i class="fas fa-long-arrow-alt-left"></i> Grįžti</a>

                        <a class="btn btn-default" href="{{ path('equipment_edit', {'id': equipment.id}) }}">
                            <i class="fas fa-edit"></i> Redaguoti</a>

                        <div class="fa-pull-right">
                            {{ include('equipment/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
